body{
    font-family: 'Times New Roman', serif;
    margin: 0;
    padding: 40px;
}

.container{
    display: flex;
    align-items: flex-start;
    gap: 50px;
}

.container img{
    width: 350px;
    border-radius: 6px;
}

.form-side{
    flex: 1;
}

h1{
    font-size: 30px;
    margin-bottom: 10px;
}

hr{
    border: none;
    border-top: 2px solid red;
    width: 600px;
    margin-left: 0;
}

form div{
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
}

label{
    width: 130px;
    font-weight: bold;
}

input[type="text"], input[type="tel"], textarea{
    padding: 6px;
    border: 1px solid #999;
    border-radius: 3px;
}

input.invalid{
    border-color: red;
    background-color: #ffecec;
}

textarea{
    width: 300px;
    height: 80px;
}

.char-count{
    font-size: 12px;
    color: #777;
}

.checkbox-group {
    display: block;
    font-weight: normal;
}

.checkbox-group label {
    width: auto;
    font-weight: normal;
    margin-left: 5px;
}

.checkbox-group input {
    margin-bottom: 10px;
}

button{
    padding: 8px 25px;
    margin-left: 135px;
    cursor: pointer;
    background-color: #16c48f;
    color: white;
    border: none;
    border-radius: 4px;
}

button:hover{
    background-color: #109c72;
}

#formMessage{
    margin-left: 135px;
    font-weight: bold;
    color: green;
}
